@import url('https://fonts.googleapis.com/css?family=Raleway');

p {
    font-family: 'Raleway', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #E1EFF6;
}

p {
    font-size: 120%;
}

img {
    width: 333px;
    height: 247px;
}

#background {
    background-color: #E1EFF6;
    padding-top: 2em;
}

.nav_bar {
    position: fixed;
    top: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B4C5E4;
    z-index: 1;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 105%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: #FFFFFF;
}

.dropdown:hover a {
    color: #B4C5E4;
}

.header {
    text-align: center;
    padding: 8em;
}

.page-summary h1 {
    text-align: center;
}

.covertext {
    align-content: center;
    position: absolute;
    vertical-align: middle;
    margin-left: 4%;
}

#title {
    padding-top: 35%;
    font-size: 4em;
    font-weight: bolder;
    color: white;
}

#title2 {
    padding-top: 50%;
    font-size: 4em;
    font-weight: bolder;
    color: white;
}


#titledesc {
    font-size: 2em;
    font-weight: normal;
    color: white;
    text-align: left;
}

.cover {
    margin-top: 2em;
    height: 35em;
    position: relative;
}
.cover img {
    width: 100%;
    height: 100%;
    position: absolute;
}