html, body {
    margin: 0;
    padding: 0;
    background-color: #E1EFF6;
}

p {
    font-size: 120%;
}

img {
    width: 333px;
    height: 247px;
}

.header {
    background-color: #E1EFF6;
}

.nav_bar {
    position: fixed;
    top: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #B4C5E4;
    z-index: 1;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 105%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown li:hover {
    background-color: #FFFFFF;
}

.dropdown li:hover a {
    color: #B4C5E4;
}

.header {
    text-align: center;
    padding: 6em;
}

.page-summary h1 {
    text-align: center;
}
